   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
   <script>if ('serviceWorker' in navigator) {
    navigator.serviceWorker
    .register('sw.js')
    .then(function() { console.log('Service Worker Registered'); });
  }</script>
  <script src="sw.js"></script>
   <% if (locals.messages.Error) { -%>
    <script> M.toast({html: '<%=messages.Error%>'})</script>
    <% } -%>
    <% if (locals.messages.Success) { -%>
    <script> M.toast({html: '<%=messages.Success%>'})</script>
    <% } -%>
</body>
</html>