<%-include('partials/header.ejs')%>
    <title>Bienvenue dans l'appli Saint-GO</title>
</head>
<body>
    <div class="row">
        <div class="col s12 m4 offset-m4 center-align">
            <h2>Saint-GO</h2>
        </div>
        <div class="col s12 m4 offset-m4 center-align">
            <div class="card">
                <div class="card-action teal lighten-1 white-text">
                    <h5>Bienvenue</h5>
                </div>
                <div class="card-content">
                    <div class="form-field">
                        <a class="green" href="/login">
                            <button class="btn waves-effect waves-light">Se connecter</button>
                        </a>
                    </div>
                </div>
                <div class="card-content">
                    <div class="form-field">
                        <a class="green" href="/register">
                            <button class="btn waves-effect waves-light">S'enregistrer</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <img class="col s12 m4 offset-m4 center-align" src="/img/ccc.png">
    </div>
<%- include('partials/footer.ejs')%>