<%-include('partials/header.ejs')%>


          <div class="row"> 
              <div class="col s12 m12">
                <div class="card blue-grey darken-3">
                    <div class="card-action"> 
                        <a href="/">Back to the Map</a> 
                    </div>  
                    <div class="card-content white-text" align="center"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm7.753 18.305c-.261-.586-.789-.991-1.871-1.241-2.293-.529-4.428-.993-3.393-2.945 3.145-5.942.833-9.119-2.489-9.119-3.388 0-5.644 3.299-2.489 9.119 1.066 1.964-1.148 2.427-3.393 2.945-1.084.25-1.608.658-1.867 1.246-1.405-1.723-2.251-3.919-2.251-6.31 0-5.514 4.486-10 10-10s10 4.486 10 10c0 2.389-.845 4.583-2.247 6.305z"/></svg>
                        <span class="card-title"><%= username %></span> 
                        <a href="#">Modifier info</a> 
                        <input type="text" name="username" value="" required>
                        <h6>Niveau</h6>
                            <div class="progress">
                                <div class="determinate" style="width: 70%"></div>
                            </div>
                        <h6>Tant d'XP</h6>
                    </div> 
                    
                <div class="collection">
                    <a href="#!" class="collection-item"><span class="badge">1</span>Parcours 1</a>
                    <a href="#!" class="collection-item"><span class="new badge">4</span>Parcours 2</a>
                    <a href="#!" class="collection-item"><span class="badge">14</span>Parcours 3</a>
                </div>
       
                </div> 
              </div> 
          </div> 

<!--Exemple bouton flottant-->
          <div class="fixed-action-btn">
                <a class="btn-floating btn-medium red">
                  <i class="large material-icons">mode_edit</i>
                </a>
                <ul>
                  <li><a class="btn-floating red"><i class="material-icons">insert_chart</i></a></li>
                  <li><a class="btn-floating yellow darken-1"><i class="material-icons">format_quote</i></a></li>
                  <li><a class="btn-floating green"><i class="material-icons">publish</i></a></li>
                  <li><a class="btn-floating blue"><i class="material-icons">attach_file</i></a></li>
                </ul>
              </div>

                                



<%-include('partials/footer.ejs')%>