<%- include('partials/header.ejs')%>
<title><% if (locals.login) { -%>
	Se connecter
	<% }else { -%>S'enregistrer<%}%></title>
</head>
<body>
	<form action=<% if (locals.login) { -%>"/login"
	<% }else {%>"/register"<% } %> method='POST'>
		<input type="text" name="username" placeholder="Nom d'utilisateur">
		<input type="password" name="password" placeholder="Mot de passe">
		<% if (locals.login) { -%>
		<button type="submit">Se connecter</button>	
		<% }else{ -%>
		<input type="email" name="email" placeholder="Email">
		<button type="submit">S'enregistrer</button>
		<%}%>
	</form>
<%- include('partials/footer.ejs')%>