body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100vw;
}

.fixed-action-btn-2 {
    top:8px;
    height:32px;
}

.form-modal {
    width: 30% ;
}

.img-title-act {
    width: 100%;
}